{% load static %}
{% load navigation_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CDN for font-awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-..." crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css"
    integrity="sha512-..." crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Y</title>
</head>

<body>

  <header>
    <div class="logo">
      <a class="{% is_active request 'home' %}" href="{% url 'home' %}" title="Y?">Y</a>
    </div>

    <nav>
      <a class="{% is_active request 'home' %}" href="{% url 'home' %}" title="Home"><i class="fas fa-home"></i></a>
      <a class="{% is_active request 'search' %}" href="#" title="Search"><i class="fas fa-search"></i></a>
      {% if user.is_authenticated %}
      <a class="{% is_active request 'create' %}" href="#" title="Create Y"><i class="far fa-edit"></i></a>
      <a class="{% is_active request 'liked' %}" href="#" title="Liked"><i class="fas fa-heart"></i></a>
      <a class="{% is_active request 'profile' %}" href="{% url 'profile' %}" title="Profile"><i class="fa-solid fa-address-card"></i></a>
      {% endif %}
    </nav>

    <div class="icon">
      {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button type="submit"><i class="fas fa-user-slash" title="Logout"></i></button>
        </form>
    </div>
    
    {% else %}
    <a class="{% is_active request 'signup' %}" href="{% url 'signup' %}" title="Sign Up"><i class="fas fa-user-plus"></i></a>
    <a class="{% is_active request 'login' %}" href="{% url 'login' %}" title="Login"><i class="fas fa-user-check"></i></a>
    {% endif %}
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved &copy; 2024 Y &nbsp;</div>
  </footer>
</body>

</html>