{% extends 'base.html' %}
{% block content %}

<div class="post-container">
{% for post, time_since in posts_with_time %}
        <div class="post">
                <div class="user-info">
                        <img class="post-profile-photo" src="{{ user.profile.profile_picture }}" alt="profile picture" border="0">
                        <p class="username">{{ user.username }}</p>
                        <p class="post-time">{{ time_since }}</p>
                </div>
                <div class="post-text">{{ post.text_content }}</div>
                <img  class="post-image" src="{{ post.post_photo }}" alt="" border="0">
                <div class="post-interactions">
                        <button type="submit"><i class="fa-regular fa-heart"></i></button>
                        <button type="submit"><i class="fa-regular fa-comment"></i></button>
                        <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
                        <div class="comment-info">
                                <p>10 re-ys</p>
                        </div>
                </div>
        </div>
{% endfor %}
</div>

{% endblock %}

