{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

    <div class="post-container">
        <div class="user-info">
            <img class="post-profile-photo" src="{{ user.profile.profile_picture }}" alt="profile picture" border="0">
            <p class="username">{{ user.username }}</p>
        </div>

        <form action="{% url 'post_create' %}" class="post-form" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="create-icons">
                <label class="image-file" for="image_file" title="Upload Image"><i class="fa-regular fa-image"></i></label>
                <input type="file" id="image_file" name="image-file">
                <i class="fa-solid fa-hashtag"></i>
            </div>
            {{ form.as_p }}
            <input type="submit" value="POST" class="post-btn">
        </form>
    </div>

{% endif %}
{% endblock %}