{% extends 'base.html' %}
{% block content %}

<div class="profile-container">
    <div class="profile-header">
        <div class="profile-username">{{ user.username }}</div>
        <div class="profile-image">
            <img class="profilepage-profile-photo" src="{{ profile.profile_picture }}" alt="profile picture" border="0">
        </div>
        <div class="profile-bio">{{ profile.bio }}</div>
        <button class="edit-profile">Edit Profile</button>
    </div>
    <div class="content">
        <h2>My Y's</h2>
    </div>
</div>

{% endblock %}