:root {
    --main-background: rgba(26, 26, 26, 1); /* #1A1A1A */
    --main-text: rgba(223, 223, 223, 1); /* #DFDFDF */
    --secondary-text: rgba(102, 102, 102, 1); /* #666666 */
}

* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

header {
    background-color: rgba(26, 26, 26, 0.8);
    color: var(--secondary-text);
    display:grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    width: 100%;
    padding:0.5em 1em;
    font-size: 1em;
    position:fixed;
    top:0; left:0;
    backdrop-filter: blur(10px);
    z-index: 1000;
} 

.logo {
    justify-self:center;
    padding-left:1em;
    
}

nav {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    gap:10px;
}

nav a {
    color: var(--seconadry-text);
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
}

.icon {
    justify-self: center;
    font-size: 1em;
}

.logo a,
.icon a {
    color: var(--secondary-text);
    padding-top: 10px;
}

body > header > div.icon > form > button > i {
    cursor: pointer;
}

body > header > div.icon > form > button > i:hover {
    color:var(--main-text);
}

body > header > div.icon > form > button {
    background:none; border: none;
    color:var(--secondary-text);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--main-text);
}

a.active {
    color: var(--main-text);
}

main.container {
    margin: 20px 0;
    
    text-align: center;
    color: var(--main-text);
    width:400px;
}

footer {
    text-align: center;
    color: var(--secondary-text);
    margin: 10px 0;
    font-size: 1.5vmin;
    padding: 10px;
}


/* HOME PAGE / GLOBAL POSTS */

.post-container {
    width: 400px;
    background-color: var(--main-background);
    margin: 0 auto;
}

.post {
    margin: 5px 0;
    border-bottom: 1px solid var(--secondary-text);
}

.user-info {
    padding: 10px 0;
    display: flex;
    justify-content:flex-start;
    align-items:end;
    color: var(--main-text);
}

.post-profile-photo {
    width:40px;
    height:40px;
    border-radius: 50%;
}

.username {
    font-size:1em;
    margin-left:8px;
    font-weight:bold;
}

.post-time {
    color: var(--secondary-text);
    font-size: 0.9em;
    margin-left:auto;
}

.post-text {
    text-align:left;
    padding:0px 0px 8px 0px;
    font-size: 0.8em;
    color:rgba(255,255,255, 0.7);
}

.post-image {
    width: 100%;
}

.post-interactions {
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

body > main > div > div > div.post-interactions > button {
    background: none;
    border:none;
    color:var(--main-text);
    cursor: pointer;
} 

body > main > div > div > div.post-interactions > button:hover {
    color:#fff;
    fill: #fff;
}

.comments-p-home {
    color: var(--secondary-text);
    font-size: 0.8em;
    margin-left: 270px;
}

.comments-p-home a {
color:var(--secondary-text);
}

.comments-p-home a:hover {
    color:var(--main-text);
}

/* CREATE POST PAGE */

/* removes django generated label */
body > main > div > form > p > label {
    display:none;
}

body > main > div > form > p {
    margin:0;
}

/* hastag icon */
body > main > div > form > div > i {
    padding-left:10px;
}

.create-icons {
display:flex;
padding:5px 0px;
}

#id_text_content {
    height:80px;
}

textarea:focus {
    outline: none;
}

.image-file {
    cursor:pointer;
}

.fa-solid, .fa-hashtag, .fa-regular, .fa-image {
    color:var(--secondary-text);
}

.fa-solid:hover, .fa-hashtag:hover, .fa-regular:hover, .fa-image:hover {
    color: var(--main-text);
}

input[type="file"] {
    display:none;
}

.post-btn {
    text-align: right;
    border:none;
    width:40px;
    cursor: pointer;
    float:right;
    padding-right:0;
    padding-left:0;
    padding-top:0px;
}

.post-btn:hover {
    color:#fff;
}

/* PROFILE PAGE */

.profile-container {
    margin: 0 auto;
    text-align: center;
  }
  
  .profile-user-info {
   display: grid;
  }
  
  .profilepage-profile-photo {
    width: 100px;
    border-radius: 100%;
    margin-top: 0px;
  }
  
  .profile-username {
    position: absolute;
    margin-left: 100px;
  }
  
  .profile-bio {
    font-size: 16px;
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
  }
  
  .edit-profile {
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    font-size: 0.8em;
    color: var(--main-text);
    background-color: var(--main-background);
    border: 1px solid var(--secondary-text);
    cursor: pointer;
    width: 100%;
  }

  .edit-profile:hover {
    background-color: var(--secondary-text);
    color:var(--main-text);
  }
  
  .content h2 {
    font-size: 28px;
    border-bottom: 2px solid var(--secondary-text);
    padding-bottom: 5px;
    margin-bottom:10px;
    width: 100%;
  }

  .comments-p-profile {
    color: var(--secondary-text);
    font-size: 0.8em;
    margin-left: 255px;
}

.comments-p-profile a {
    color:var(--secondary-text);
}

.comments-p-profile a:hover {
    color:var(--main-text);
}

  /* post delete button */
  body > main > div.post-container > div > div.post-interactions > div.post-delete > a > button {
    background: none;
    border:none;
    color:var(--main-text);
    cursor: pointer;
  }

  body > main > div.post-container > div > div.post-interactions > div.post-delete > a > button:hover {
    color:#fff;
  }

  /* DELETE POST CONFIRMATION PAGE */

  body > main > form > button {
    background-color: var(--main-background);
    color: var(--secondary-text);
    padding:10px 0;
    border: 1px solid var(--secondary-text);
    border-radius: 5px;
  }

  body > main > form > button:hover {
    background-color: var(--secondary-text);
    color:#fff;
  }

  body > main > form > button a {
    color:var(--main-text);
  }

  body > main > form > button a:hover {
    background-color: var(--secondary-text);
    color:#fff;
  }

/* EDIT PROFILE PAGE */

/* edit profile page lebels */
body > main > form > p > label {
    text-align: left;
}

/* edit profile page textarea */
#id_bio {
    height:80px;
}

/* POST DETAIL PAGE */

.comment {
    display:flex;
    text-align: left;
    align-items: center;
    font-size: 0.9em;
    /* border-bottom: 1px solid var(--secondary-text); */
    padding:5px 0px;
    margin-top:2px;
}

body > main > div.comments > div > strong {
    padding-left:10px;
    margin-top:30px;
}

.comments p {
    margin:10px 0px;
    font-size: 0.8em;
    color:var(--secondary-text);
    text-align: left;
}

.comment-delete-form {
    margin-left:auto;
}

/* comment delete button X */
body > main > div.comments > div > div > form > button {
    background-color: var(--main-background);
    border:none;
    cursor: pointer;
}

body > main > div.comments > div:nth-child(1) > div > form > button:hover {
    color:var(--main-text);
    cursor: pointer;
}

/* comment text-area */
#id_comment_text {
    width:90%;
    max-width: 90%;
    height: 60px;
    max-height: 100px;
}

/*comments p */
body > main > p {
    color:var(--secondary-text);
}

/* post comment btn */
body > main > div.comment-form > form > button {
    width: 90%;
    background-color: var(--main-background);
    border: 1px solid var(--secondary-text);
    color: var(--secondary-text);
    padding:5px;
    font-size:0.8em;
    cursor: pointer;
}

body > main > div.comment-form > form > button:hover {
    color:#fff;
    background-color:var(--secondary-text);
    cursor: pointer;
} 

/* FORMS / SIGN UP / LOGIN */

form {
    max-width: 400px;
    margin: 0 auto;
}

form>p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--main-background);
    /* border-radius: 5px; */
    border: 1px solid var(--secondary-text); 
    color: var(--main-text);
}

input:focus {
    outline: none;
}

textarea {
    background-color: var(--main-background);
    color:var(--main-text);
    width:100%;
    max-width:100%;
}

span.helptext {
    font-size: 1.5vmin;
    color: var(--secondary-text);
    display: block;
    margin-top: 5px;
}

body>main>form>ul {
    font-size: 1.5vmin;
    text-align: left;
    color: var(--secondary-text)
}

.btn {
    color: var(--main-text);
    background-color: var(--main-background);
    border: 1px solid var(--secondary-text);
    cursor: pointer;
    padding: 10px;
    font-size: 1.5vmin;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--secondary-text);
    color:var(--main-text);
}

body > main > form > button {
    width: 100%;
}

#image-form {
    display: none;
}

/* tag name above posts */
/* body > main > div.post-container > div > div:nth-child(2) {
    display: none;
} */

/* MEDIA QUERIES */
@media screen and (max-width: 490px) {
    nav a {
        padding: 4px;
    }
}